/* text inputs */
.input-group {
    margin-top: 10px;
}
.input-group label{
    font-size: 13px;
}
.input-group input{
    outline: 0;
    padding: 10px 20px;
    margin: 10px 0;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    border: var(--primary) solid 2px;

}
.input-group .error{
    font-size: 13px;
    color:var(--error);
}
/* end */

/* check box and radio button */
.check-radio-button{
    display: flex;
    align-items: center;
    margin-top: 10px;

}
.check-radio-button input{
   zoom: 1.5;
}
/* radio button */
tbody input{
    zoom: 1.5;
 }