
.screen {
    width: 100%;
    height: 100vh;
    margin-bottom: 300px;
  }
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
   flex-direction: column;
  }
  .screen-size-400px {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  